:root {
  font-size: 2vh;
}

body {
  display: flex;
  font-family: 'Mukta', sans-serif;
  height: 100vh;
  margin: 0;
}

#boat-image {
  background-image: url(img/background.jpg);
  background-size: cover;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#photo-credit {
  color: white;
  font-size: 1.375rem;
  font-weight: 100;
  padding: 0.25rem;
  text-align: center;
}

#photo-credit>a {
  color: white;
  font-weight: 200;
}

#logo-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  height: 15%;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top: 25%;
}

#logo {
  height: 80%;
}

#logo-container>div {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  height: 80%;
  display: flex;
  justify-content: center;
  font-size: 5.5rem;
}

#right-half {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #F8F8F8;
  justify-content: center;
}

#info {
  font-weight: 600;
  padding: 2rem 10%;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.75);
}

#form-section {
  background-color: #ffffffbd;
  box-shadow: 0 3px 4px rgb(0 0 0 / 0.2);
  padding: 2% 10%;
}

#form-section>div {
  font-weight: 600;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.75);
}

.form-element {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.form-element>input {
  border: 1px solid #E5E7EB;
  height: 23px;
  font-size: 18px;
  outline: none;
}

.form-element>label {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.625);
  margin-bottom: -0.125rem;
 }

 .form-subgroup {
  display: flex;
  margin: 1% 0;
  gap: 5%;
 }

 input[type='submit'] {
  margin-top: 1rem;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  font-family: 'Mukta', sans-serif;
  font-size: 0.8rem;
 }

input[type='submit']:hover {
  background-color: black;
  color: white;
}

#log-in {
  padding: 2rem 10%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.75);
}

#log-in>a {
  color: rgba(0, 0, 0, 0.75);
}

.form-element>input:focus {
  background-color: #F8F8F8;
  border-color: black;
}

.form-element>input:invalid{
  border-color: red;
}

.form-element>input:valid:focus {
  border-color: green;
}

#pw_alert {
  font-size: 0.85rem;
  color: red;
}